/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato');
//@import url('https://fonts.googleapis.com/css2?family=Nunito');
//@import url('https://fonts.googleapis.com/css2?family=Titillium+Web');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');

// use Lato font if available
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

/*-- scss:rules --*/

// litera is serif by default: revert to san-serif
p {
  font-family: $font-family-sans-serif;
}

// Navs

.navbar-brand {
  font-family: "Lato", mono;
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
}

// Navbar

.navbar {
  font-family: "Lato", mono;
  font-size: 1rem;
}

$navbar-dark-hover-color:           "#ff6700" !default;
$navbar-light-hover-color:          "black" !default;