<ul class="custom-list">
    <% for (const item of items) { %>
        <li>
            <span class="date"><%= item.date %></span>
            <a href="<%- item.path %>" class="title"><%= item.title %></a>
        </li>
    <% } %>
</ul>
